body {
    font-family: Arial, sans-serif;
    /* background-color: #f4f4f4; */
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    display: flex
}

.hero {
    background: url('../images/hero.jpg') no-repeat center center/cover;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: 0 1rem;
}
.hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
.hero p {
    font-size: 1.5rem;
    max-width: 600px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}
.who-we-are {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    gap: 1.5rem;
}
.who-we-are .image img {
    max-width: 800px;
    height: 400px;
    border-radius: 8px;
}
.text {
    max-width: 800px;
    text-align: center;
    padding-left: 30px;
}
button{
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem; 
    transition: background-color 0.3s ease;
}

.pillars {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
    flex-wrap: wrap;
}
.pillar {
    background-color: #f0f8ff;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 250px;
    text-align: center;
}
.pillar h2 {
    margin-bottom: 1rem;
    color: #333;
}
.pillar p {
    font-size: 1rem;
    color: #555;
}

.impact-stats {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
    flex-wrap: wrap;
}
.stat {
    background-color: #e6f7ff;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 200px;
    text-align: center;
}
.stat h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    color: #007acc;
    }
.stat p {
    font-size: 1rem;
    color: #555;
}

.programs {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
    flex-wrap: wrap;
}
.program {
    background-color: #fff0f5;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 250px;
    text-align: center;
}
.program h2 {
    margin-bottom: 1rem;
}
.program p {
    font-size: 1rem;
    color: #555;
}